/*
 * SHARED CSS
 */

/*
 * fix for wp8 reserving space at 
 * bottom of screen for url bar
 */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

html, body {
  margin: 0;
  -ms-touch-action: manipulation !important; /* disable double tap zoom in Win Phone */

  /* disable scrolling away from content in Win Phone (and maybe other platforms?) */
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  overflow: hidden;
  -ms-content-zooming: none; 
  -ms-touch-action:none;
}

/*
 * this set of fixes is to prevent users from being able to interact with HTML elements 
 * as if they were HTML elements aka prevents selecting, copying, etc
 */
*:not(input){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  -ms-touch-callout: none;
  -ms-user-select: none;
  -ms-text-size-adjust: none;
  -ms-tap-highlight-color: rgba(0,0,0,0);
}

.fullscreen {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.background {  
  z-index: -2;
  background-image: url(../img/background.png);
  -webkit-background-size: cover;
  background-size: cover;

  /*height: 95%;
  background-size: 100% 100%;
  background-size: cover;*/
}

.gameState {
  display: none;
}

.homeState {
  display: none;
}

.highScoreState {
  display: none;
}

.aboutState {
  display: none;
}

.debugMessage {
  position: absolute;
  font-size: 1em;
  top: 95vh;
  left: 1vw;
  z-index: 100;
  background-color: black;
}

/*
 * HOME CSS
 */

.centered {
  width: 65vw;
  margin: auto;
  text-align: center;
}

 @font-face {
  font-family: "flyFont";
  src: url("../font/gooddog.otf") format("opentype");  
}
    
.button {
  width: 100%;
  border: 2px white solid;
  border-radius: 5px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "helvetica";
}

.footerText {
  color: white;
  font-size: 10px;
  font-family: "helvetica";
}

.title {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.firstButton {
  margin-top: 50px;
}

.menuFly {
  margin-top: 10vh;
  max-height: 45vw;
}

.header {
  background-color: #7E8352;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

 .headerText {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 2em;
  font-family: "helvetica";
 }

 .columnLeft {
  width: 30%;
  display: inline-block;
 }

 .columnMid {
  width: 40%;
  display: inline-block;
 }

 .columnRight {
  display: inline-block;
 }

.headerButton {
  border: 2px white solid;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 1.5em;
  font-family: "helvetica";
}
/*
 * ABOUT CSS
 */

.aboutBackground {
  background-color:#e9eaed;
}

.aboutHeader {
  font-weight: bold;
}

.aboutContainer {
  background-color:#fff;
  margin: 0 auto;
  margin-top:2vh;
  margin-bottom: 2vh;
  padding-top:2vh;
  padding-bottom:2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  color: black;
  text-align: left;
  font-size: 20px;
  font-family: "helvetica";
  width: 90vw;
}

/*
 * HIGH SCORE CSS
 */


.highScore {
  display: inline-block;
  /*text-align: left;*/
  width: 100%;
  color: black;
  font-size: 20px;
  font-family: "helvetica";
  border-bottom: 1px solid lightgray;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.highScoreRank {
  color: black;
  text-align: center;
  font-weight: bold;
  width: 15vw;
  display:inline-block;
}

.highScoreName {
  color: black;
  width: 60vw;
  display:inline-block;
}

.highScoreScore {
  display:inline-block;
  color: #7E8352;
}

/*
 * GAME CSS
 */

.gameText {
  color: white;
  font-family: "helvetica";
  font-size: 1.25em;
}

.inline {
  display: inline-block;
}

.target {
  position: absolute;
}

.explosion {
  position: absolute;
  z-index: 1;
}

.life {
  float: right;
  margin: .25em;
  width: 2em;
  height: 2em;
  z-index: 2;
  background-image: url(../img/goldFly.png);
  background-size: cover;
}

.fly {
  position: absolute;
  background-image: url(../img/fly.png);
  background-size: cover;
}

.poisonFly {
  position: absolute;
  background-image: url(../img/poisonFly.png);
  background-size: cover;
}

.fastFly {
  position: absolute;
  background-image: url(../img/fastFly.png);
  background-size: cover;
}

.bigFly {
  position: absolute;
  background-image: url(../img/bigFly.png);
  background-size: cover;
}

.explosiveFly {
  position: absolute;
  background-image: url(../img/explosiveFly.png);
  background-size: cover;
}

.goldFly {
  position: absolute;
  background-image: url(../img/goldFly.png);
  background-size: cover;
}


@-webkit-keyframes splat {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes splat {
    from {opacity: 1;}
    to {opacity: 0;}
}

.splat {
  position: absolute;
  background-image: url(../img/splat.png);/*, url(../img/fly.png);*/
  background-size: cover;

  animation:splat 3s 1;
  -webkit-animation:splat 3s 1;
  animation-fill-mode: forwards;  
  -webkit-animation-fill-mode: forwards;
}


/*
 * todo: There has to be a better way to do this...
 */
 
.explosiveFly.splat {
  position: absolute;
  background-image: url(../img/splat.png), url(../img/explosiveFly.png);
  background-size: cover;

  animation:splat 3s 1;
  -webkit-animation:splat 3s 1;
  animation-fill-mode: forwards;  
  -webkit-animation-fill-mode: forwards;
}

.fastFly.splat {
  position: absolute;
  background-image: url(../img/splat.png), url(../img/fastFly.png);
  background-size: cover;

  animation:splat 3s 1;
  -webkit-animation:splat 3s 1;
  animation-fill-mode: forwards;  
  -webkit-animation-fill-mode: forwards;
}

.poisonFly.splat {
  position: absolute;
  background-image: url(../img/splat.png), url(../img/poisonFly.png);
  background-size: cover;

  animation:splat 3s 1;
  -webkit-animation:splat 3s 1;
  animation-fill-mode: forwards;  
  -webkit-animation-fill-mode: forwards;
}

.bigFly.splat {
  position: absolute;
  background-image: url(../img/splat.png), url(../img/bigFly.png);
  background-size: cover;

  animation:splat 3s 1;
  -webkit-animation:splat 3s 1;
  animation-fill-mode: forwards;  
  -webkit-animation-fill-mode: forwards;
}

.fly.splat {
  position: absolute;
  background-image: url(../img/splat.png), url(../img/fly.png);
  background-size: cover;

  animation:splat 3s 1;
  -webkit-animation:splat 3s 1;
  animation-fill-mode: forwards;  
  -webkit-animation-fill-mode: forwards;
}


.goldFly.splat {
  position: absolute;
  background-image: url(../img/splat.png), url(../img/goldFly.png);
  background-size: cover;

  animation:splat 3s 1;
  -webkit-animation:splat 3s 1;
  animation-fill-mode: forwards;  
  -webkit-animation-fill-mode: forwards;
}

/*
 * end of todo
 */