/*
 * fix for wp8 reserving space at 
 * bottom of screen for url bar
 */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

html, body {
  margin: 0;
}

.fly {
  position: absolute;
  background-image: url(../img/fly.png);
  background-size: cover;
}


@-webkit-keyframes splat {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes splat {
    from {opacity: 1;}
    to {opacity: 0;}
}

.splat {
  z-index: -1;
  position: absolute;
  background-image: url(../img/splat.png), url(../img/fly.png);
  background-size: cover;

  animation:splat 2s 1;
  -webkit-animation:splat 2s 1;
  animation-fill-mode: forwards;  
  -webkit-animation-fill-mode: forwards;
}

.background {
  z-index: -2;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/background.jpg);
  background-size: cover;
}

.gameState {
  display: none;
}

.homeState {
  display: none;
}

.centered {
  width: 75vw;
  margin: auto;
}

